<!-- 
	[TASK 1]: write the necessary HTML & CSS code to structure and style the following code
 -->

Demo Conference
<br><br>
How to Submit your ePoster
<a href="http://support.scigentech.com/customer/portal/articles/support.scigentech.com" target="_blank">
	1. Prepare your ePoster according to the guidelines &raquo;</a>
<br><br>



<a href="http://submissioncodes.scigentech.com/submissioncode/rc2019" target="_blank">2. Get your unique
	Poster Submission Code &raquo;</a>
<br><br>
3. Click below to Submit your ePoster.

<br><br>
A confirmation of your successful submission is provided at the end of the process,
as well as through email
<br><br>
Continuing the poster submission process, you accept that you have read and agree
with the terms of <a href="http://eposterslive.com/?q=privacy-policy" target="_blank">Privacy Policy</a>.
<br><br>


<br><br>
<div>
	<!-- button to submission page -->
	<button routerLink="/submission" mat-stroked-button color="primary">Submit Poster</button>
</div>
<br><br><br><br>
<a href="http://support.scigentech.com" target="_blank">
</a>
<a href="http://support.scigentech.com" target="_blank">Frequently Asked
	Questions and Answers
</a>


<div class="footer">

	<div id="footer-inside">

		<div id="support-container" style="padding: 20px 0; color: #696969;">

			<div class="footerSupportTitle">Questions or Difficulties?</div>
			<div class="footerSupportBody">Chat with us live or email us at <br /><a
					href="mailto:support+rc2019@scigentech.com">support+rc2019@scigentech.com</a></div>

			<div style="padding: 0px 0; padding-left:50px;">
				<a href="http://livesupport.eposterslive.com" target="_blank">
					<img src="//scigen-assets.s3.amazonaws.com/chatra.png" width="70" />
					<br /><span style="padding-left:5px">Live Support</span>
				</a>

			</div>


		</div>
	</div>

	<div>
		<div>
			<i>e</i>Poster<strong>Submission</strong>&reg; v1.53.0-SNAPSHOT-prod-20191120-2 by the&nbsp;<a
				href="http://www.eposterslive.com/?utm_source=epostersubmission&amp;utm_medium=footer_credits&amp;utm_campaign=ePL-epostersubmission"
				target="_blank">ePostersLive&reg;</a> team.
		</div>
		<div>
			Copyright 2011-2019
			SciGen Technologies. All rights reserved. Patent Pending.<br />
			SciGen is a registered trademark of SciGen Technologies.
		</div>
	</div>
</div>